.btn {
    cursor: pointer;
    padding: 10px;
    width: 160px;
    border: 1px solid RGB(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: white;
}

.btn--small {
    width: 120px;
    padding: 8px;
}

.btn--large {
    width: 200px;
    padding: 12px;
    font-weight: 500;
}

.btn:hover {
    background-color: #f9f9f9;
}